.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;  
    min-height: 90vh;
}

.textContainer{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-size: 54px;
}

.subTitle{
    color: var(--btn);
}

.desc{
    font-size: 20px;
    font-weight: 300;
}

.imgContainer{
    position: relative;
    width: 400px;
    height: 400px;
}

.boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box h1{
    color: var(--btn);
}