.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;  
    min-height: 90vh;
    padding: 20px 0;
    flex-wrap: wrap;
}

.textContainer{
    display: flex;
    flex:1;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-size: 54px;
}

.subTitle{
    color: var(--btn);
}

.desc{
    font-size: 20px;
    font-weight: 300;
}

.imgContainer{
    position: relative;
    width: 400px;
    height: 400px;
}

.boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box h1{
    color: var(--btn);
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        gap: 20px;
    }

    .boxes{
        text-align: center;
    }
}