.container span:first-child{
    color: gray;
}

.container{
    display: flex;
    gap: 20px;
}

.detailAuthor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.detailTitle{
    font-weight: bold;
}

.detailValue{
    font-weight: 500;
}

.avatar{
    border-radius: 50%;
    object-fit: contain;
}