.container{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px 0;
    flex-wrap: wrap;
}

.textContainer{
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 30px;
}

.title{
    font-size: 56px;
}

.desc{
    font-size: 20px;
}


.buttons{
    display: flex;
    gap: 20px;
}

.btn{
    padding: 10px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:first-child{
    background-color: var(--btn);
    color: var(--text);
}

.brands{
    height: 50px;
    width: 100%;
    position: relative;
    filter: grayscale(1);
}

.brandsImg{
    object-fit: contain;
}

.brands:hover{
    filter: grayscale(0);
    transition: height 0.7s ease-in-out;;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        gap: 20px;
    }

    .textContainer{
        width: 100%;
    }
}